/* Colors */

:root {
    --text-white: #fff;
    --text-blue: #14358A;
    --text-light-blue: #006FBA;
    --text-light-gray: #E6E8EC;
    --text-dark-gray: #68718B;
    --background-color: #fff;
}

@font-face {
    font-family: 'DM Sans';
    src: url(./Fonts/DM_Sans/static/DMSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'DM Sans';
    src: url(./Fonts/DM_Sans/static/DMSans-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid; */
}

html {
    font-size: 62.5%; /* Makes 1rem = 10px */ 
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: var(--background-color);
    overflow-x: hidden;
}

/* Container */
.page-background {
    width: 100%;
    background-image: url('./images/BG-2.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;


    min-height: 100vh;
    min-width: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    /* display: flex;
    flex-direction: column; */
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 170px;
    flex: 1;  /* Takes remaining space */
}

/* Header style */
.desktop-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    width: 100%;
    background: var(--text-blue);
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 3px 0 11px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    /* width: calc(1440px - 340px); */

    /* border-radius: 24px; */
}    

.wrapper .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.wrapper .header-content .logo a {
    text-decoration: none;
}

.wrapper .header-content .logo h2 {
    font-size: 3.2rem;
    color: var(--text-white);
    font-weight: 700;
}

.wrapper .header-content .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .header-content .menu-items li {
    list-style-type: none;
    padding: 0 20px;
}

.wrapper .header-content .menu-items a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-white);
    text-decoration: none;
}

.arrow-down {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-white);
}


.wrapper .header-content .menu-items a.active {
    font-size: 2rem;
    font-weight: 700;
}

/* header buttons */
.header-buttons a {
    text-decoration: none;

}

.header-buttons .button_sign-in {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-white);

}

.header-buttons .button_sign-up {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-white);
    margin-left: 16px;

    padding: 12px 24px;
    border: 1px solid var(--text-white);
    border-radius: 10px;
    background: transparent;
}

/* Hero Section */
/* section {
    height: 100vh;
}

section .features-section {
    height: 100%;
} */

.hero-section .wrapper .inner-wrapper {
    margin: 130px 42px 0;
    width: 100%;
    max-width: 1016px; 
}

.hero-section .inner-wrapper .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.inner-wrapper .hero-content h1 {
    color: var(--text-white);
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    line-height: 110%;
    padding-bottom: 24px;
}

/* span {
    display: block;
} */

.hero-content br {
    display: none;
}

.hero-content .break-desktop {
    display: block;
}

.inner-wrapper .hero-content p {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--text-light-gray);
    line-height: 135%;
    text-align: center;
}


.inner-wrapper .hero-content .hero-buttons {
    padding: 48px 0;
}

.inner-wrapper .hero-content a {
    text-decoration: none;
}

.inner-wrapper .hero-content .hero-buttons a.start-now {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 135%;
    color: var(--text-white);
    cursor: pointer;

    padding: 20px 40px;
    border-radius: 10px;
    background: linear-gradient(to right, #6A36FF, #AC5FE6);
}

.inner-wrapper .hero-content .hero-buttons a.trial {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 135%;
    color: var(--text-white);
    cursor: pointer;

    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 16px;
}

.arrow-right {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-white);

    transform: translateY(1px);
}

.hero-content .hero-image img {
    width: 100%;
    max-width: 1016px;
    transform: translateY(-25px);
}

.hero-section .brands {
    width: 100%;
    height: 48px;
    margin-bottom: 80px;

    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.hero-section .brands img {
    margin-right: 30px;
}

.hero-section .brands img:nth-last-child(1) {
    margin-right: 0;
}

/* Animation */
/* Desktop Nav Animation */
.desktop-nav {
    animation: fadeDown 2000ms forwards;
    opacity: 0;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Features Section */
.features-section {
    width: 100%;
    position: relative;
}

section h2  {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 105%;
    color: var(--text-blue);
    text-align: center;
    padding: 80px 0 64px 0;
}


.features-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
    flex: 1;
}

.features-section-2 .features-description {
    padding: 50px 0;
}

.features-description i {
    color: var(--text-white);
    padding: 16px;
    background: linear-gradient(to right, #0097FE, #14358A);
    border-radius: 10px;
    font-size: 1.8rem;
    margin: 50px 0 24px 0;
}

.features-description h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--text-light-blue);
    line-height: 105%;
    margin-bottom: 13px;
}
    
.features-description p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    color: var(--text-dark-gray);   
}

.features-content img {
    width: 100%;
    max-width: 509px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.features-description .features-btn {
    margin: 48px 0 50px 0;
}

a.btn_Learn-More {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 140%;
    color: var(--text-white);
    text-decoration: none;
    padding: 16px 32px;
    background: linear-gradient(to right, #6A36FF, #AC5FE6 );
    border-radius: 10px;
}

/* shapes */
.features-shape img.top-right {
    width: 425px;
    position: absolute;
    top: 14px;
    left: 957px;
    z-index: -10;

    transform: translateX(-138px);
}

.features-shape img.bottom-left {
    width: 280px;
    position: absolute;
    top: 1575px;
    left: 57px;
    z-index: -10;

    transform: translate(-120px, -50px);
}

/* Social Media Section */
.social-media-section-container {
    width: 100%;
    background: url('./images/social-media-background.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    padding: 297px 270px;
}



.social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    text-align: center;
}

.social-media {
    background-color: rgba(255, 255, 255, 1);
    /* background: url('./images/social-pattern.png'); */
    padding: 24px;
    border-radius: 10px;

    position: relative;
}

.social-media::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/social-pattern.png');
    opacity: 0.5;
    z-index: 10;
    
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.social-media i.facebook,
.social-media i.twitter,
.social-media i.google {
    color: var(--text-white);
    font-size: 4rem;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    background: #006EEA;
    margin-bottom: 24px;
}

.social-media h3
 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--text-light-blue);
    line-height: 110%;
    margin-bottom: 12px;
}

.social-media p,
.article p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    color: var(--text-dark-gray);
    margin-bottom: 48px;
}

.social-media .social-button {
    margin-bottom: 24px;
}

/* Articles Section */
section.articles-section {
    padding: 80px 170px;
}

.articles {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
    column-gap: 24px;
}

.article {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.article .article-img {
    width: 100%;
    max-width: 351px;
}

.article .article-img img {
    width: 100%;
}

.article-description {
    padding: 24px;
}

/* .articles-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.articles_learn-more {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 80px;
}

.article-label p {
    padding: 4px 8px;
    font-weight: 400;
    font-size: 1.4rem;
    display: inline-block;
    color: var(--text-white);
    border-radius: 5px;
}

.article-label {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10;
}

.article h3 {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--text-light-blue);
    padding-bottom: 12px;
    line-height: 110%;
}

/* CTA Section */
.cta-section {
    width: 100%;
    background: url('./images/BackgroundCTA.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 80px 422px 191px 364px;
}
.cta-section p {
    color: #68718B;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 135%;
    text-align: center;
    padding-top: 48px;
}

.cta-buttons {
    text-align: center;
    margin-top: 48px;
}

.cta-buttons a.register-now {
    color: var(--text-white);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 16px 32px;
    background: linear-gradient(to right, #6A36FF, #AC5FE6);
    text-decoration: none;
    border-radius: 10px;
    margin-right: 22px;
}

.cta-buttons a.contact-us {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 16px 32px;
    border: 1px solid;
    border-radius: 10px;
    text-decoration: none;

    position: relative;
    background: transparent;
}

.cta-buttons a.contact-us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* If you want rounded corners */
    /* padding: 2px; Border width */
    background: linear-gradient(45deg, #6A36FF, #AC5FE6);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

/* Footer Section */
.footer-section-wrapper {
    position: relative;
    width: 100%;
}

footer {
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    z-index: 10;
    margin-bottom: 0;
}

.footer-background {
    width: 100%;
    background-image: url('./images/Background-Footer.png');
    background-size: cover;
    background-position: center;  /* Negative value moves image up */
    background-repeat: no-repeat;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -20;
}


.footer-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 203px 134px 40px 170px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container .logo {
    align-self: center;
}

.footer-container .logo h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 105%;
    color: var(--text-white);
    margin-bottom: 12px;
}

.footer-nav h3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 135%;
    color: var(--text-white);
    margin-bottom: 16px;
}

.footer-wrapper .logo p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 104%;
    color: var(--text-white); 
    margin-bottom: 32px;  
}

.footer-socials i {
    font-size: 2rem;
    padding: 8px;
    background: #4965BD; 
    border-radius: 10px;
    margin: 0 8px;
}

.footer-socials i:first-child {
    margin-left: 0;
}

.footer-nav ul li {
    margin-bottom: 16px;
    list-style: none;
}

.footer-nav ul li a {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 104%;
    color: var(--text-white);
    text-decoration: none;
}

.copyright {
    margin-top: 24px;
}

.copyright p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    color: var(--text-white);
    text-align: center;
}

.copyright span {
    display: inline;
    color: #0097FE;
}

.ruler {
    margin-top: 74px;
}

.ruler hr {
    width: 100%;
    max-width: 1104px;
}

.menu-icon {
    display: none;
}

.mobile-h1 {
    display: none;
}

.mobile-hero-p {
    display: none;
}

.features-section-1 .wrapper h2 br {
    display: none;
}

.features-section-1 .wrapper .break-desktop-f1 {
    display: block;
}

.features-section-1 .features-description br {
    display: none;
}    

.features-section-1 {
    display: none;
}

.features-section-2 .wrapper br {
    display: none;
}

.features-section-2 .wrapper h2 .break-desktop {
    display: block;
}

.features-section-2 .wrapper .features-content .features-description p br {
    display: none;
}


.features-section-2 .wrapper .features-content .features-description p .break-desktop {
    display: block;
}

.hide-mobile-p {
    display: none;
}

.features-section-1 .features-mobile-shape {
    display: none;
}

.social-media-section br {
    display: none;
}

    /* Media Query */
@media (max-width: 767px) {
    
    
    /* * {
        border: solid;
    } */
    
    .wrapper,
    .hero-section .wrapper .inner-wrapper {
        padding: 0;
        width: auto;
    }

    .hero-section .wrapper {
        padding: 0 20px;
    }

    .hero-section .wrapper .inner-wrapper {
        margin: 110px 0 0 0;
    }

    .desktop-nav .wrapper .header-content .menu-items {
        display: none;
    }

    .desktop-nav .wrapper .header-content .header-buttons {
        display: none;
    }

    .desktop-nav {
        width: calc(100% - 40px);
        max-width: 375px;
        padding-left: 20px;
    }

    .desktop-nav .wrapper .header-content .menu-icon {
        display: block;
        font-size: 3.2rem;
        color: var(--text-white);
        font-weight: 400;
        cursor: pointer;
    }

    .desktop-nav .wrapper .header-content .menu-icon-bar {
        margin-right: 20px;
    }
         
    section {
        width: 100%;
        /* max-width: 375px; */
        padding: 0 20px;
    }

    .inner-wrapper .hero-content h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 105%;
        color: var(--text-white);
    }

    .hero-content .break-mobile {
        display: block;
    }

     .hero-content .break-desktop {
        display: none;
    }

    .hero-content .hero-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        gap: 12px;
    }
    
    .hero-buttons a {
        /* display: block; */
        width: 100%;
    }

    .inner-wrapper .hero-content .hero-buttons a.trial {
        margin-left: 0;
    }

    .brands {
        margin-top: 56px;
    }

    .brands img.hide {
        display: none;
    }
    
    .brands .brands-line-1 {
        margin-right: 11px;
    }

    .brands .brands-line-1 img {
        margin-bottom: 44px;
    }

    .brands .brands-line-2 img {
        margin-bottom: 44px;
    }

    /* features section-1 */
    .features-section-1{
        text-align: center;
    }

    .features-section-1 .wrapper .break-mobile {
        display: block;
    }

    .features-section-1 .wrapper .break-desktop-f1 {
        display: none;
    }

    .features-section-1 .wrapper h2,
    .features-section-2 .wrapper h2 {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 100%;
        padding-bottom: 0;
    }

    .features-section-1 .features-description .break-mobile {
        display: block;
    }

    .features-section-1 .features-content {
        justify-content: center;
    }

    .features-section-1 .features-content img,
    .features-section-1 .features-content .features-description .features-btn {
        display: none;
    }

    .features-section-1 .features-content .features-description {
        margin-bottom: 32px;
    }

    .features-section-1 .features-content .features-description:nth-last-child(1) {
        margin-bottom: 0;
    }

    .features-section-1 .features-content .features-description h3 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 110%;
    }

    .features-section-1 {
        display: block;
        position: relative;
    }

    /* Features Section 2 */
    .features-section-2 .wrapper h2 .break-mobile {
        display: block;
    }

    .features-section-2 .wrapper h2 .break-desktop {
        display: none;
    }

    .features-section-2 .wrapper .features-content {
        flex-direction: column;
        text-align: center;
        gap: 0;
        padding-bottom: 32px;
    }

    .order-img {
        order: -1;
    }

    .features-section-2 .features-description {
        padding: 0;
    }

    .features-section-2 .features-content .features-description h3 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 110%;
    }

    .features-section-2 .wrapper .features-content .features-description p .break-desktop {
        display: none;
    }
    
    .features-section-2 .wrapper .features-content .features-description p .break-mobile {
        display: block;
    }


    .hide-desktop-p {
        display: none;
    }

    .hide-mobile-p {
        display: block;
    }

    .features-section-1 .wrapper .features-shape img,
    .features-section-2 .wrapper .features-shape img {
        display: none;
    }

    .features-section-1 .features-mobile-shape {
        display: block;
    }

    .features-section-1 .features-mobile-shape .mobile-long-pattern {
        position: absolute;
        top: 1064px;
        left: 67px;
    }

    .features-section-1 .features-mobile-shape .mobile-short-pattern {
        position: absolute;
        top: 1150px;
        left: -3px;
    }

    /* Social media section */
    .social-media-section-container {
        padding: 200px 20px 250px;
    }

    .social-media-section h2 {
        font-size: 3.2rem;
        line-height: 100%;
    }

    
}