/* Colors */

:root {
    --text-white: #fff;
    --text-blue: #14358A;
    --text-light-gray: #E6E8EC;
    --text-dark-gray: #68718B;
    --background-color: #fff;
}

@font-face {
    font-family: 'DM Sans';
    src: url(./Fonts/DM_Sans/static/DMSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'DM Sans';
    src: url(./Fonts/DM_Sans/static/DMSans-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: var(--background-color);
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 170px;
}

/* Header Navigation */
.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */
}

.desktop-nav .logo h2 {
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--text-white);
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items li {
    list-style-type: none;
    padding: 0 20px;
}

.menu-items li a {
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-white)
}

.arrow-down {
    color: var(--text-white);
    font-size: 1.6rem;
    text-align: center;
}

.menu-items li a.active {
    font-weight: 700;
}

/* Header buttons */
.desktop-nav .buttons .btn_Sign-In {
    display: inline-block;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-white);
    text-decoration: none;
}

.desktop-nav .buttons .btn_Sign-Up {
    display: inline-block;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--text-white);
    text-decoration: none;
    padding: 12px 24px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 16px;
    background: transparent;
}


/* Hero Section */
section {
    height: 100vh;
}

.bg {
    width: 100%;
    background-image: url('./images/BG-2.png');
    background-size: cover;
    background-position: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .inner-wrapper {
    padding: 0px 42px 120px;
    position: relative;
}

/* .hero .inner-wrapper .content {
    width: 705px;
} */

.hero .inner-wrapper .content h1 {
    font-weight: 700;
    color: var(--text-white);
    font-size: 6rem;
}

.hero .inner-wrapper .content h1 span {
    display: block;
}

.hero .inner-wrapper .content p span {
    display: block;
}

.hero .inner-wrapper .content p {
    font-weight: 400;
    color: var(--text-light-gray);
    font-size: 1.8rem;
}

/* hero section button */
/* .buttons button {
    width: 167px;
    height: 64px;
    background-color: purple;
    border: none;
    padding: 40px;
    border-radius: 10px;
}

.buttons button a.btn_Start-Now {
    text-align: center;
    color: white;
    text-decoration: none;
} */

.buttons {
    margin: 48px 0;
}

.buttons a.btn_Start-Now {
    padding: 20px 40px;
    color: var(--text-white);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    /* background: #7B41f9; */
    border-radius: 10px;
    margin-right: 16px;
    background: linear-gradient(to right, #6A36FF, #AC5FE6);
}

.buttons a.btn_Trial {
    padding: 20px 40px;
    color: var(--text-white);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid var(--text-white);
    border-radius: 10px;
    text-align: center;
}

.arrow-right {
    color: var(--text-white);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-left: 4px;
}

/* analytics dashboard image */
.analytics-img img {
    width: 100%;
    max-width: 1016px;
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    bottom: 0;
}

/* brand */

.brand {
    position: absolute;
    left: 0;
    right: 0;
    top: 1100px;
    bottom: 0;
}

.brand img {
    margin: 0 21px;
}

.brand img:nth-child(1)
 {
    margin-left: 0;
}

.brand img:nth-last-child(1) {
    margin-right: 0;
}

/* Animation */
/* Desktop Nav */
.desktop-nav {
    animation: fadeDown 2000ms forwards;
    opacity: 0;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animations */
/* Hero Text Content */
.hero .inner-wrapper .content {
    animation: fadeIn 800ms forwards;
    animation-delay: 400ms;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}