/* Colors */

:root {
    --text-white: #fff;
    --text-blue: #14358A;
    --text-light-blue: #006FBA;
    --text-light-gray: #E6E8EC;
    --text-dark-gray: #68718B;
    --background-color: #fff;
}

@font-face {
    font-family: 'DM Sans';
    src: url(./Fonts/DM_Sans/static/DMSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'DM Sans';
    src: url(./Fonts/DM_Sans/static/DMSans-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Makes 1rem = 10px */ 
}

body {
    font-family: 'DM Sans', sans-serif;
    background: var(--background-color);
    overflow-x: hidden;
}

/* Container */
.page-background {
    width: 100%;
    background-image: url('./images/BG-2.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.page-background .wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 170px;
}

/* Header style */
.wrapper .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    
}

.wrapper .desktop-nav .logo h2 {
    font-size: 3.2rem;
    color: var(--text-white);
    font-weight: 700;
}

.wrapper .desktop-nav .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .desktop-nav .menu-items li {
    list-style-type: none;
    padding: 0 20px;
}

.wrapper .desktop-nav .menu-items a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-white);
    text-decoration: none;
}

.arrow-down {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-white);
}

.wrapper .desktop-nav .menu-items a.active {
    font-size: 1.6rem;
    font-weight: 700;
}

/* header buttons */
.header-buttons a {
    text-decoration: none;

}

.header-buttons .button_sign-in {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-white);
}

.header-buttons .button_sign-up {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-white);
    margin-left: 16px;

    padding: 12px 24px;
    border: 1px solid var(--text-white);
    border-radius: 10px;
    background: transparent;
}

/* Hero Section */
.hero-section .inner-wrapper {
    margin: 80px 42px 0;
    width: 100%;
    max-width: 1016px; 
}

.hero-section .inner-wrapper .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.inner-wrapper .hero-content h1 {
    color: var(--text-white);
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    line-height: 110%;
    letter-spacing: -3%;
    padding-bottom: 24px;
}

span {
    display: block;
}

.inner-wrapper .hero-content p {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--text-light-gray);
    line-height: 135%;
    text-align: center;
}


.inner-wrapper .hero-content .hero-buttons {
    padding: 48px 0;
}

.inner-wrapper .hero-content a {
    text-decoration: none;
}

.inner-wrapper .hero-content .hero-buttons a.start-now {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 135%;
    color: var(--text-white);

    padding: 20px 40px;
    border-radius: 10px;
    background: linear-gradient(to right, #6A36FF, #AC5FE6);
}

.inner-wrapper .hero-content .hero-buttons a.trial {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 135%;
    color: var(--text-white);

    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 16px;
}

.hero-content .hero-image img {
    width: 100%;
    max-width: 1016px;
    transform: translateY(-25px);
}

.hero-section .brands {
    width: 100%;
    height: 48px;
}

.hero-section .brands img {
    margin-right: 30px;
}

.hero-section .brands img:nth-last-child(1) {
    margin-right: 0;
}

/* Animation */
/* Desktop Nav Animation */
.wrapper .desktop-nav {
    animation: fadeDown 2000ms forwards;
    opacity: 0;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Features Section */
.features-section h2  {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 105%;
    letter-spacing: -3%;
    color: var(--text-blue);
    text-align: center;
    padding: 80px 64px;
}



